.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.detailsGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
  .detailsGrid {
    grid-template-columns: 1fr;
  }
}