# Banco de Dados
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=lar_idosos_db
DB_PORT=5432

# URL de Conexão do Prisma (usada internamente pelo Docker)
# Para uso local fora do Docker, mude 'db' para 'localhost'
DATABASE_URL="postgresql://postgres:postgres@db:5432/lar_idosos_db?schema=public"

# Backend (NestJS)
API_PORT=3333

# Frontend (Next.js)
WEB_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3333