.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.mainContent {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

/* Em telas maiores (Desktop), o layout fica lado a lado */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}